{% extends 'base.html.twig' %}

{% block title %}Список книг{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/listBooks.css">
{% endblock %}

{% block body %}
    <div class="container">
        <div style="background: #283A41;text-align: center;">
            <br>
            <a class="btn btn-sm btn-success" role="button" href="{{ path('create_books') }}">Добавить новую книгу</a>
            <a class="btn btn-sm btn-success" role="button" href="{{ path('generate_book') }}">Сгенерировать новую книгу</a>
            <a class="btn btn-sm btn-success" role="button" href="{{ path('get_more_then_2_authors') }}">Показать книги с 3 и более авторами</a>
            <br><br>
        </div>

        <form method="GET">
            <div style="background: #2B4957;text-align: center;">
                <br>
                <input name="title" type="text" class="filter" value="{{ filters.title | default("") }}" placeholder="Фильтр по названию">
                <input name="description" type="text" class="filter" value="{{ filters.description | default("") }}" placeholder="Фильтр по описанию">
                <input name="year" type="number" class="filter" value="{{ filters.year | default("") }}" placeholder="Фильтр по году издания">
                <input class="btn btn-sm btn-primary" type="submit" value="Применить филтры" />
                <a class="btn btn-sm btn-secondary" role="button" href="{{ path('books') }}">Сбросить фильтры</a>
                <br><br>
            </div>
        </form>
        {% for book in books %}
            <div class="card bg-dark text-white">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('singleView_books', {'id': book.id}) }}">Просмотр</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('update_book', {'books': book.id}) }}">Редактирование</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-danger" href="{{ path('delete_book', {'books': book.id}) }}">Удалить запись</a>
                        </li>

                    </ul>
                </div>
                <div class="card-body">
                    <form class="tr" action="/books/update_inline/{{ book.id }}" method="POST" enctype="multipart/form-data">
                        <table>
                            <tr>
                                <td rowspan="4">
                                    <div class="td">
                                        <input id="cover-{{book.id}}" type="file" name="books[file]" class="form-control">
                                        <label for="cover-{{ book.id }}">
                                            <img width="500px" src="{{ asset('uploads/' ~ book.cover) }}" />
                                        </label>
                                    </div>
                                </td>

                                <td>
                                    <div class="td">
                                        {#                                        <div>Название книги:</div>#}
                                        <textarea style="font-family: tahoma; font-size: 30px;"  id="title-{{book.id}}" name="books[title]" type="text" class="form-control" required="required">{{ book.title }}</textarea>
                                        <label style="font-family: tahoma; font-size: 30px;" for="title-{{ book.id }}">{{ book.title }}</label>
                                    </div>
                                </td>



                            <tr>
                                <td>
                                    <div class="td">
{#                                        <div>Год издательства:</div>#}
                                        <textarea style="font-family: monospace; font-size: 20px;" id="year-{{book.id}}" name="books[year]" type="text" class="form-control" required="required">{{ book.year }}</textarea>
                                        <label style="font-family: monospace; font-size: 20px;" for="year-{{ book.id }}">{{ book.year }}</label>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <div class="td">
{#                                        <div>Описание:</div>#}
                                        <textarea style="font-family: Gill Sans, sans-serif;" id="description-{{book.id}}" name="books[description]" type="text" class="form-control" required="required">{{ book.description }}</textarea>
                                        <label style="font-family: Gill Sans, sans-serif;" for="description-{{ book.id }}">{{ book.description }}</label>
                                    </div>
                                </td>
                            </tr>
                    </form>

                    <tr>
                        <td>
                            <div class="td">
                                {% if book.authors|length == 0 %}
                                    <div>Автор не известен.</div>
                                {% else %}
                                    {% for author in book.authors %}
                                        <form class="aut" action="/authors/update_inline/{{ book.id }}/{{ author.id }}" method="POST" enctype="multipart/form-data">
                                            <div class="td">
                                                <textarea  id="author-{{author.id}}-{{ book.id }}" name="authors[name]" type="text" class="form-control" required="required">{{ author.name }}</textarea>
                                                <label style="font-family: monospace; font-size: 20px;" for="author-{{ author.id }}-{{ book.id }}">{{ author.name }}</label>
                                            </div>
                                        </form>
                                    {% endfor %}
                                {% endif %}

                            </div>
                        </td>
                    </tr>
                    </table>
                </div>
            </div>
            <br>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="/js/inlineEdit.js" defer="defer"></script>
{% endblock %}