{% extends 'base.html.twig' %}

{% block title %}Просмотр{% endblock %}

{% block body %}
    <div class="container">
        <h2>Book - {{ books.title }}</h2>
        <div class="card bg-dark text-white">
            <div class="card-body">
                <div><a class="btn btn-sm btn-secondary" role="button" href="{{ path('books') }}">На главную</a></div>
                <br>
                <img height="400px" src="{{ asset('uploads/') ~ books.cover}}">
                <div>Название книги: {{ books.title }}</div>
                <br>
                <div>Описание: {{ books.description }}</div>
                <br>
                <div>Год издательства: {{ books.year }}</div>
                <a class="btn btn-sm btn-info" role="button" href="{{ path('update_book', {'books': books.id}) }}">Редактировать запись</a>
                <a class="btn btn-sm btn-danger" role="button" href="{{ path('delete_book', {'books': books.id}) }}">Удалить запись</a>
            </div>
        </div>

        <h2>Авторы:</h2>
        {% for author in books.authors %}
            <div class="card bg-dark text-white">
                <div class="card-body">
                    <div>Автор: {{ author.name }}</div>
                    <a class="btn btn-sm btn-info" role="button" href="{{ path('update_authors', {'books': books.id, 'authors': author.id}) }}">Изменить автора</a>
                    <a class="btn btn-sm btn-danger" role="button" href="{{ path('delete_authors_in_singleView_books', {'books': books.id, 'authors': author.id}) }}">Удалить автора</a>
                </div>
            </div>
        {% endfor %}
        {{ render(controller('App\\Controller\\AuthorsController::create', {'books': books.id})) }}
    </div>
{% endblock %}
