{% extends 'base.html.twig' %}

{% block title %}Просмотр{% endblock %}

{% block body %}
    <div class="container">
        <div class="card bg-dark text-white">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('books') }}">На главную</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('update_book', {'books': books.id}) }}">Редактирование</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-danger" href="{{ path('delete_book', {'books': books.id}) }}">Удалить запись</a>
                    </li>

                </ul>
            </div>
            <div class="card-body">
                <div style="font-family: tahoma; font-size: 30px; text-align: center;">{{ books.title }}</div>
                <p style="text-align: center;"><img height="400px" src="{{ asset('uploads/') ~ books.cover}}"></p>

                <br>
                <div style="font-family: Gill Sans, sans-serif;">{{ books.description }}</div>
                <br>
                <div style="font-family: Gill Sans, sans-serif; font-size: 15px;">Год издательства: {{ books.year }}</div>
            </div>
        </div>

        {% for author in books.authors %}

            <div class="card bg-dark text-white">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('update_authors', {'books': books.id, 'authors': author.id}) }}">Изменить автора</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-danger" href="{{ path('delete_authors_in_singleView_books', {'books': books.id, 'authors': author.id}) }}">Удалить автора</a>
                        </li>

                    </ul>
                </div>
                <div class="card-body">
                    <div style="font-family: Gill Sans, sans-serif; font-size: 15px;">{{ author.name }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
