{% extends 'base.html.twig' %}

{% block title %}Список книг{% endblock %}



{% block body %}
    <div class="container">
        <div style="background: #283A41;text-align: center;">
            <br>
            <a class="btn btn-sm btn-success" role="button" href="{{ path('create_only_authors') }}">Добавить нового автора</a>
            <br><br>
        </div>


        {% for author in authors %}
            <div class="card bg-dark text-white">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('update_authors_in_list', {'authors': author.id}) }}">Редактировать</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-danger" href="{{ path('delete_authors_in_list_authors', {'authors': author.id}) }}">Удалить Автора</a>
                        </li>

                    </ul>
                </div>
                <div class="card-body">
                    <div class="td">
                            <div style="font-family: tahoma; font-size: 30px;">{{ author.name }}</div>
                    </div>
                    <div>Работы автора: </div>
                    {% for book in author.books %}
                        <a class="nav-link" href="{{ path('singleView_books', {'id': book.id}) }}">{{ book.title }}</a>
                    {% endfor %}
                </div>
                <div>
                </div>
            </div>
            <br>
        {% endfor %}
    </div>
{% endblock %}

